* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}
body {
    background-color: #D81B60;
}

div {
  position:relative;
  z-index: 2;
}

h1 {
  color:white;
  font-family: Arvo;
  font-size:35px;
}
.btn {
    background-color: #D81B60;
    color:white;
    font-family: Arvo;
    border:solid white;
    font-size:2em;
}

.btn:hover {
  color:black;
}

.btn:focus {
    outline: 0 !important;
}
.quote {
  position:relative;
  margin:0% auto auto auto;
  width:650px;
  padding:40px 50px;
  display:table;
  border:solid white;
}

.row {
  margin:5%;
}

.name {
  font-family:Lobster;
  font-size:70px;
}

#source {
    color:white;
    font-family:VT323;
    font-size:18px;
}

#by {
    color:aliceblue;
    font-family:Lobster TWo;
    font-size:30px;
    margin-bottom: 30px;
}

#name {
    color:silver;
}

#twitter {
    color:aqua;
    font-size: 30px;
}

